/Round4/StudentRegisterProject/nbproject/private/
/Round4/studentregister/StudentRegisterProject/nbproject/private/
*.txt
*.Class
*.mf
/Round4/studentregister/build.xml
/Round7.1/

/Round7/xmlcountries/target/
/Round7/jsoncountries/target/
/Round7/jsoncountries/src/main/java/CountryTest.java
*.json
*.xml