/Round4/StudentRegisterProject/nbproject/private/
/Round4/studentregister/StudentRegisterProject/nbproject/private/
*.txt
*.Class
*.mf
/Round4/studentregister/build.xml
/Round7.1/

/Round7/xmlcountries/target/
/Round7/jsoncountries/target/
/Round7/jsoncountries/src/main/java/CountryTest.java
*.json

/Round10/javadocjson/json/target/
/Round10/javadocjson/target/
/Round10/javadocstandings/target/
/Round11/junitattainment/target/
/Round11/junitattainment/nbproject/
/Round11/junitorder/nbproject/
/Round12/Calculator/target/
/Round10/javadocstandings/apidocs/
